version: "3.9"

services:
  # --- Service 1: Node.js ---
  node_app:
    build: ./node
    container_name: node_container
    restart: always
    # ports:
    ports:
      - "${NODE_PORT}:${NODE_PORT}"
    environment:
      - PORT=${NODE_PORT}
      # Add these DB variables:
      - DB_HOST=mongo_db        # matches the service name below
      - DB_PORT=27017           # Internal container port
      - DB_USER=${MONGO_USER}
      - DB_PASS=${MONGO_PASS}
      - DB_NAME=${MONGO_DB}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN}
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8001/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  # --- Service 2: Python ---
  python_app:
    build: ./python
    container_name: python_container
    restart: always
    # ports:
    ports:
      - "${PYTHON_PORT}:${PYTHON_PORT}"
    environment:
      - FLASK_ENV=${FLASK_ENV}
      - PORT=${PYTHON_PORT}
    healthcheck:
      test: ["CMD-SHELL", "python", "healthcheck.py"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  # -- service: frontend : nextjs ---
  next_app:
    build: ./next
    container_name: next_container
    restart: always
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    environment:
      - PORT=${FRONTEND_PORT}
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.0:3001 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s




  # --- Service 3: Java ---
  # java_app:
  #   build: ./java
  #   container_name: java_container
  #   restart: always

  # Database service : MongoDB ---
  mongo_db:
    image: mongo:latest
    container_name: mongo_container
    restart: always
    ports:
      - "${MONGO_PORT}:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASS}
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/${MONGO_DB} --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 5s

  # --- The Tunnel (The Gateway) ---
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: tunnel_gateway
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TOKEN}
    depends_on:
      node_app:
        condition: service_healthy
      python_app:
        condition: service_healthy
      next_app:
        condition: service_healthy
      mongo_db:
        condition: service_healthy



volumes:
  mongo_data: