version: "3.9"

services:
  # --- Service 1: Node.js ---
  node_app:
    build: ./node
    container_name: node_container
    restart: always
    # ports:
    ports:
      - "${NODE_PORT}:${NODE_PORT}"
    environment:
      - PORT=${NODE_PORT}
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8001 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  # --- Service 2: Python ---
  python_app:
    build: ./python
    container_name: python_container
    restart: always
    # ports:
    ports:
      - "${PYTHON_PORT}:${PYTHON_PORT}"
    environment:
      - FLASK_ENV=${FLASK_ENV}
      - PORT=${PYTHON_PORT}
    healthcheck:
      test: ["CMD-SHELL", "python", "healthcheck.py"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  # -- service: frontend : nextjs ---
  next_app:
    build: ./next
    container_name: next_container
    restart: always
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    environment:
      - PORT=${FRONTEND_PORT}
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.0:3001 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s




  # --- Service 3: Java ---
  # java_app:
  #   build: ./java
  #   container_name: java_container
  #   restart: always

  # --- The Tunnel (The Gateway) ---
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: tunnel_gateway
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TOKEN}
    depends_on:
      node_app:
        condition: service_healthy
      python_app:
        condition: service_healthy
      next_app:
        condition: service_healthy

